* {
    box-sizing: border-box
}


/* Set height of body and the document to 100% */

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}


/* Main div class */

.main {
    background: #fff;
    border: 5px solid #ccc;
    border-radius: 10px;
    margin: 40px auto;
    padding: 40px;
    width: auto;
    max-width: 700px;
}


/* Style tab links */


/*.tablink {
    margin: 5px;
    background-color: #fff;
    color: black;
    float: left;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    font-size: 17px;
    min-width: 10%;
    width: 18%;
} */

.tablink {
    background: #fff;
    border: 2px solid #333;
    border-radius: 8px;
    color: #333;
    font-size: 17px;
    font-weight: bold;
    padding: 10px 16px;
    display: flex;
    float: left;
    margin: 5px;
}

#resp {
    display: flex;
    justify-content: center;
}

.tablink:hover {
    background-color: #f7f2f3;
}


/* Style the tab content (and add height:100% for full page content) */

.tabcontent {
    display: none;
    padding: 100px 20px;
    height: 100%;
}

#URL {
    background-color: white;
}

#Text {
    background-color: white;
}

#Contact {
    background-color: white;
}

#Phone {
    background-color: white;
}